<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="5.0.3" targetFramework="net462" />
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net462" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net462" />
  <package id="HtmlRenderer.Core" version="1.5.0.6" targetFramework="net462" />
  <package id="HtmlRenderer.WinForms" version="1.5.0.6" targetFramework="net462" />
  <package id="JetBrains.Annotations" version="10.4.0" targetFramework="net462" />
  <package id="Lamedal_UIWinForms" version="0.0.2-Alfa3" targetFramework="net462" />
  <package id="LamedalCore" version="1.2.0" targetFramework="net462" />
  <package id="LamedalCore_Templates" version="0.0.4" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="15.0.26201" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6070" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Framework" version="15.0.26201" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Utilities" version="15.0.26201" targetFramework="net46" />
  <package id="Microsoft.VSSDK.BuildTools" version="15.0.26201" targetFramework="net46" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net462" />
  <package id="System.IO.FileSystem.Primitives" version="4.0.1" targetFramework="net462" />
  <package id="System.IO.Packaging" version="4.0.0" targetFramework="net462" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net462" />
  <package id="System.Xml.XmlSerializer" version="4.3.0" targetFramework="net462" />
  <package id="xunit.abstractions" version="2.0.1" targetFramework="net462" />
  <package id="xunit.extensibility.core" version="2.2.0" targetFramework="net462" />
</packages>